p {
    margin: 20px;
}

h1 {
    color: #0078AA;
}

h2 {
    margin: 20px;
    color: #0078AA;
}

h3 {
    margin: 20px;
    color: #0078AA;
}

b {
    color: #AA0078;
}

body {
    background-color: #A9A9A9;
}